### Insert at the begining of linked list

https://www.geeksforgeeks.org/linked-list-set-1-introduction/

In [51]:
# Node class
class Node:
    # function to initialize Node object
    def __init__(self, data = None, next_location = None):
        self.data = data
        self.next_location = next_location # set next location as null

class LinkedList:
    def __init__(self):
        self.head = None
        
    def insert_at_begining(self, data):
        node = Node(data, self.head)
        self.head = node
        
    def insertAfter(self, prev_node, new_data):
        # 1. check if the given prev_node exists
        if prev_node is None:
            print("prev_node must exist")
            return

        # 2. Create new node &
        # 3. Put in the data
        # 4. Create next of new Node as next of prev_node
        new_node = Node(data = new_data, next_location= prev_node.next_location)

        # 5. make next of prev_node as new_node
        prev_node.next_location = new_node
    
    def insertAtEnd(self, new_data):
 
        # 1. Create a new node
        # 2. Put in the data
        # 3. Set next as None
        new_node = Node(new_data)

        # 4. If the Linked List is empty, then make the new node as head
        if self.head is None:
            self.head = new_node
            return

        # 5. Else traverse till the last node
        last = self.head
        while (last.next_location):
            last = last.next_location

        # 6. Change the next of last node
        last.next_location =  new_node

    
    def print_ll(self):
        if self.head is None:
            return print('empty linked list')
        
        itr = self.head
        llstr = ''
        while itr:
            llstr+= str(itr.data) + '-->'
            itr = itr.next_location
        print(llstr)

In [52]:
if __name__ == '__main__':
    # Create linked list
    ll = LinkedList()
    # Create Head
    ll.head = Node(1)
    # Create nodes having null next locations
    second = Node(2)
    third = Node(3)
    fourth = Node(4)
    # link the newly created nodes to each other by defining next locations
    ll.head.next_location = second
    second.next_location = third
    third.next_location = fourth
    
    # print initial setup
    ll.print_ll()
    
    # insert at the begining
    ll.insert_at_begining(5)
    ll.print_ll()
    
    # insert after
    ll.insertAfter(prev_node = third, new_data = 7)
    ll.print_ll()
    
    # append
    ll.insertAtEnd(10)
    ll.print_ll()

1-->2-->3-->4-->
5-->1-->2-->3-->4-->
5-->1-->2-->3-->7-->4-->
5-->1-->2-->3-->7-->4-->10-->

### Leetcode Q. 1290

Input: head = [1,0,1]

Output: 5

Explanation: (101) in base 2 = (5) in base 10

In [62]:
class Solution:
    def getDecimalValue(self, head: ListNode) -> int:
        num = head.val
        while head.next:
            num = num * 2 + head.next.val
            head = head.next
        print(num)
        return num

In [68]:
divmod(13,10)

(1, 3)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r"C:\Users\Sandi\Stats MS\RailTech\Documents\inputFileToCWRF.xlsx")

In [3]:
df['Station']

           Station   Latitude   Longitude Crosstie Type  Curvature  Unnamed: 5
0         4.716981  38.451850 -104.351313        Wooden      -0.73        0.73
1         5.000000  38.451848 -104.351316        Wooden      -0.73        0.73
2         6.603774  38.451847 -104.351320        Wooden      -0.72        0.72
3         7.000000  38.451845 -104.351322        Wooden      -0.72        0.72
4         9.000000  38.451845 -104.351322        Wooden      -0.72        0.72
...            ...        ...         ...           ...        ...         ...
6332  14390.000000  38.451864 -104.351282      Concrete      -0.75        0.75
6333  14391.255918  38.451866 -104.351281      Concrete      -0.75        0.75
6334  14392.000000  38.451861 -104.351289      Concrete      -0.75        0.75
6335  14393.153551  38.451863 -104.351287      Concrete      -0.75        0.75
6336  14394.000000  38.451858 -104.351296      Concrete      -0.75        0.75

[6337 rows x 6 columns]